@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><b>Car</b></p>
    <p>Cars <a href="Cars">CLICK</a>.</p>
    <p>Types <a href="BodyTypes">CLICK</a>.</p>
    <p>Features <a href="Features">CLICK</a>.</p>
    <p>Manufacturers <a href="Manufacturers">CLICK</a>.</p>
    <p>CarFeatures <a href="CarFeatures">CLICK</a>.</p>
</div>
